APP_DATA_PATH="./data/Config"
CLOUDDRIVE_HOME="/Config"
CLOUD_MOUNTS_PATH="./data/CloudNAS"
CONTAINER_NAME="clouddrive"
PANEL_APP_PORT_HTTP=40275
PRIVILEGED_MODE="true"
SHARED_MEDIA_PATH="./data/media"
TZ="Asia/Shanghai"
