CONTAINER_NAME="lanraragi"
CONTENT_DIRECTORY="./data/content"
DATABASE_DIRECTORY="./data/database"
HTTPS_PROXY=""
HTTP_PROXY=""
PANEL_APP_PORT_HTTP=40290
PLUGIN_DIRECTORY="./data/plugin"
THUMBNAIL_DIRECTORY="./data/thumb"
TIME_ZONE="Asia/Shanghai"
