CONTAINER_NAME="upsnap"
DATA_PATH="./data"
DNS_SERVER_1="119.29.29.29"
DNS_SERVER_2="223.5.5.5"
LISTEN_ADDR="0.0.0.0"
PANEL_APP_PORT_HTTP=40318
TIME_ZONE="Asia/Shanghai"
UPSNAP_INTERVAL="@every 10s"
UPSNAP_PING_PRIVILEGED="true"
UPSNAP_SCAN_RANGE="192.168.1.0/24"
UPSNAP_SCAN_TIMEOUT="500ms"
UPSNAP_WEBSITE_TITLE="Upsnap Dashboard"
