CONTAINER_NAME="mattermost"
GITLAB_PKI_CHAIN_PATH=""
MATTERMOST_BLEVE_INDEXES_PATH="./data/bleve/indexes"
MATTERMOST_CLIENT_PLUGINS_PATH="./data/client/plugins"
MATTERMOST_CONFIG_PATH="./data/config"
MATTERMOST_CONTAINER_READONLY="false"
MATTERMOST_DATA_PATH="./data/data"
MATTERMOST_LOGS_PATH="./data/logs"
MATTERMOST_PLUGINS_PATH="./data/plugins"
MM_BLEVESETTINGS_INDEXDIR="/mattermost/bleve-indexes"
MM_SERVICESETTINGS_SITEURL="http://192.168.123.9:40271"
MM_SQLSETTINGS_DRIVERNAME="postgres"
PANEL_APP_PORT_CALLS=40272
PANEL_APP_PORT_HTTP=40271
PANEL_DB_HOST="postgresql"
PANEL_DB_HOST_NAME="postgresql"
PANEL_DB_NAME="mattermost"
PANEL_DB_PORT=5432
PANEL_DB_TYPE="postgresql"
PANEL_DB_USER="mattermost"
PANEL_DB_USER_PASSWORD="mattermost"
TZ="Asia/Shanghai"
