CONTAINER_NAME="metatube-sdk-go"
DATA_PATH="./data"
HTTPS_PROXY=""
HTTP_PROXY=""
PANEL_APP_PORT_HTTP=40302
PANEL_DB_HOST="postgresql"
PANEL_DB_HOST_NAME="postgresql"
PANEL_DB_NAME="metatube"
PANEL_DB_PORT=5432
PANEL_DB_TYPE="postgresql"
PANEL_DB_USER="metatube"
PANEL_DB_USER_PASSWORD="metatube"
