CONTAINER_NAME="certd"
DATA_PATH="./data"
DNS_1="223.5.5.5"
DNS_2="119.29.29.29"
HTTPS_PROXY=""
HTTP_PROXY=""
IMMEDIATE_TRIGGER="false"
PANEL_APP_PORT_HTTP=40311
RESET_ADMIN_PASSWD="false"
TIME_ZONE="Asia/Shanghai"
