AUDIO_DOWNLOAD_DIR="/downloads/audio"
CONTAINER_NAME="metube"
CREATE_CUSTOM_DIRS="true"
CUSTOM_DIRS="true"
DEFAULT_OPTION_PLAYLIST_ITEM_LIMIT=0
DEFAULT_OPTION_PLAYLIST_STRICT_MODE="false"
DEFAULT_THEME="auto"
DELETE_FILE_ON_TRASHCAN="false"
DOWNLOAD_DIR="./data"
DOWNLOAD_DIRS_INDEXABLE="false"
GID=1000
PANEL_APP_PORT_HTTP=40289
PUBLIC_HOST_AUDIO_URL=""
PUBLIC_HOST_URL=""
STATE_DIR="/downloads/.metube"
TEMP_DIR="/downloads/temp"
UID=1000
URL_PREFIX="/"
