CONTAINER_NAME="redisinsight"
DATA_PATH="./data"
PANEL_APP_PORT_HTTP=40274
RI_APP_HOST="0.0.0.0"
RI_ENCRYPTION_KEY=""
RI_FILES_LOGGER="true"
RI_LOG_LEVEL="info"
RI_PROXY_PATH=""
RI_SERVER_TLS_CERT=""
RI_SERVER_TLS_KEY=""
RI_STDOUT_LOGGER="true"
