CONFIG_PATH="./data/config"
CONTAINER_NAME="verdaccio"
PANEL_APP_PORT_HTTP=40087
PLUGINS_PATH="./data/plugins"
STORAGE_PATH="./data/storage"
VERDACCIO_APPDIR="/opt/verdaccio"
VERDACCIO_PROTOCOL="http"
VERDACCIO_USER_NAME="verdaccio"
VERDACCIO_USER_UID=10001
