CONFIG_PATH="./data/config"
CONTAINER_NAME="deluge"
DELUGE_LOGLEVEL="error"
DELUGE_PEER_PORT=6881
DELUGE_PORT_RPC=58846
DOWNLOAD_PATH="./data/downloads"
PANEL_APP_PORT_HTTP=40321
PGID=1000
PUID=1000
TIME_ZONE="Asia/Shanghai"
