CONTAINER_NAME="sunshine"
DATA_PATH="./data"
PANEL_APP_PORT_HTTP2=48010
PANEL_APP_PORT_HTTPS=47990
PANEL_APP_PORT_TCP="47984-47989"
PANEL_APP_PORT_UDP="47998-48000"
PGID=1001
PUID=1001
TZ="Asia/Shanghai"
