CONFIG_PATH="./data/config"
CONTAINER_NAME="mt-photos"
MEDIA_PATH="./data/media-1"
MEDIA_PATH_2="./data/media-2"
MEDIA_PATH_INTERNAL="/media-1"
MEDIA_PATH_INTERNAL_2="/media-2"
PANEL_APP_PORT_HTTP=40319
TIME_ZONE="Asia/Shanghai"
UPLOAD_PATH="./data/upload"
