COMMAND="python3 -u app.py --host 0.0.0.0 --port 7860"
CONTAINER_NAME="hivision-id-photo"
DEFAULT_LANG="zh"
FACE_PLUS_API_KEY=""
FACE_PLUS_API_SECRET=""
PANEL_APP_PORT_HTTP=40330
PANEL_APP_PORT_HTTP_INTERNAL=7860
RUN_MODE=""
