CONTAINER_NAME="ikaros"
DATA_PATH="./data"
IKAROS_ADMIN_PASSWORD="tomoki"
IKAROS_ADMIN_USERNAME="tomoki"
IKAROS_EXTERNAL_URL="http://1.2.3.4:40301"
LANG="C.UTF-8"
LANGUAGE="C:zh"
LC_ALL="C.UTF-8"
PANEL_APP_PORT_HTTP=40301
PANEL_DB_HOST="postgresql"
PANEL_DB_HOST_NAME="postgresql"
PANEL_DB_NAME="ikaros"
PANEL_DB_PORT=5432
PANEL_DB_TYPE="postgresql"
PANEL_DB_USER="ikaros"
PANEL_DB_USER_PASSWORD="ikaros"
PLUGIN_LOG_LEVEL="INFO"
SERVER_LOG_LEVEL="INFO"
TIME_ZONE="Asia/Shanghai"
