CONFIG_PATH="./data/config"
CONTAINER_NAME="nas-tools"
HOSTNAME="nas-tools"
MEDIA_PATH="./data/media"
NASTOOL_AUTO_UPDATE="false"
NASTOOL_CN_UPDATE="false"
PANEL_APP_PORT_HTTP=40296
PGID=0
PUID=0
UMASK=000
