CONTAINER_NAME="tangsengdaodao"
EXTERNAL_IP="1.2.3.4"
MINIO_HOST="minio"
MINIO_PORT=9000
MINIO_ROOT_PASSWORD="minio"
MINIO_ROOT_USER="minio"
PANEL_APP_PORT_HTTP=83
PANEL_APP_PORT_TS_APP_HTTP=8090
PANEL_APP_PORT_TS_APP_WEB=82
PANEL_APP_PORT_WK_TCP=5100
PANEL_APP_PORT_WK_WEB_SERVER=5300
PANEL_APP_PORT_WK_WS=5200
PANEL_DB_HOST="mysql"
PANEL_DB_HOST_NAME="mysql"
PANEL_DB_NAME="tsdd"
PANEL_DB_PORT=3306
PANEL_DB_USER="tsdd"
PANEL_DB_USER_PASSWORD="tsdd@123456"
PANEL_REDIS_ROOT_PASSWORD="passsword"
TS_ADMIN="superAdmin"
TS_ADMINPWD="tsdd@123456"
TS_DB_REDIS_HOST="redis"
TS_DB_REDIS_PORT=6379
TS_SMSCODE=123456
