CONTAINER_NAME="nezha-dash"
DEFAULT_LOCALE="zh"
ForceShowAllServers="false"
NEXT_PUBLIC_CustomDescription="Nezha-Dash"
NEXT_PUBLIC_CustomLogo="https://nezha-cf.buycoffee.top/apple-touch-icon.png"
NEXT_PUBLIC_CustomTitle="Nezha-Dash"
NEXT_PUBLIC_DisableCartoon="false"
NEXT_PUBLIC_ForceUseSvgFlag="false"
NEXT_PUBLIC_NezhaFetchInterval=2000
NEXT_PUBLIC_ShowFlag="false"
NEXT_PUBLIC_ShowNetTransfer="false"
NEXT_PUBLIC_ShowTag="false"
NEZHA_AUTH="xxxx"
NEZHA_BASE_URL="http://1.2.3.4"
PANEL_APP_PORT_HTTP=40309
