CONFIG_PATH="./data/config"
CONTAINER_NAME="frigate"
FRIGATE_RTSP_PASSWORD="password"
PANEL_APP_PORT_HTTPS=8971
PRIVILEGED_MODE="true"
RTSP_PORT=8554
SHM_SIZE="64mb"
STORAGE_PATH="./data/storage"
TMPFS_SIZE=1000000000
WEBRTC_TCP_PORT=8555
WEBRTC_UDP_PORT=8555
