ALLOWEDIPS="10.0.8.0/24"
CONFIG_PATH="./config"
CONTAINER_NAME="wireguard"
INTERNAL_SUBNET="10.0.8.0"
LOG_CONFS="true"
PEERDNS="119.29.29.29,1.1.1.1"
PEERS=1
PERSISTENTKEEPALIVE_PEERS=25
PGID=1000
PUID=1000
SERVERPORT=51820
SERVERURL="172.17.0.1"
TIME_ZONE="Asia/Shanghai"
