CONTAINER_NAME="windows"
CPU_CORES=2
DATA_PATH="./data/storage"
DISK_SIZE="30GB"
KEYBOARD="zh-CN"
LANGUAGE="zh-CN"
MANUAL="N"
PANEL_APP_PORT_HTTP=40286
PASSWORD="password"
RAM_SIZE="4GB"
RDP_PORT=3389
REGION="SG"
RESTART_POLICY="always"
USERNAME="docker"
VERSION="ltsc10"
