services:
  netdisk-fast-download:
    image: ghcr.io/qaiu/netdisk-fast-download:main
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    networks:
      - 1panel-network
    ports:
      - "${PANEL_APP_PORT_HTTP}:6401"
    volumes:
      - ./data/resources:/app/resources
      - ./data/db:/app/db
      - ./data/logs:/app/logs
    environment:
      - TZ=Asia/Shanghai
    labels:  
      createdBy: "Apps"

networks:
  1panel-network:
    external: true
