APP_NICENESS=0
CONFIG_PATH="./data"
CONTAINER_DEBUG=0
CONTAINER_NAME="thunderbird"
DARK_MODE=0
DISPLAY_HEIGHT=1080
DISPLAY_WIDTH=1920
ENABLE_CJK_FONT=0
GROUP_ID=1000
HOST_IP=""
INSTALL_PACKAGES=""
KEEP_APP_RUNNING=0
LANG="en_US.UTF-8"
PACKAGES_MIRROR=""
PANEL_APP_PORT_HTTP=40327
SECURE_CONNECTION=1
SECURE_CONNECTION_CERTS_CHECK_INTERVAL=60
SECURE_CONNECTION_VNC_METHOD="SSL"
SUP_GROUP_IDS=""
TZ="Asia/Shanghai"
UMASK=0022
USER_ID=1000
VNC_PASSWORD="password"
VNC_PORT=40328
WEB_AUDIO=0
WEB_AUTHENTICATION=0
WEB_AUTHENTICATION_PASSWORD=""
WEB_AUTHENTICATION_USERNAME=""
