CONTAINER_NAME="xunlei"
DATA_PATH="./data/data"
DOWNLOAD_PATH="./data/downloads"
HOSTNAME="mynas"
PANEL_APP_PORT_HTTP=40163
PRIVILEGED_MODE="true"
XL_DASHBOARD_IP="0.0.0.0"
XL_DASHBOARD_PASSWORD="xunlei"
XL_DASHBOARD_USERNAME="user"
XL_DEBUG="false"
XL_DIR_DATA="/xunlei/data"
XL_DIR_DOWNLOAD="/xunlei/downloads"
XL_GID=1000
XL_PREVENT_UPDATE="true"
XL_UID=1000
