CONTAINER_NAME="iyuuplus"
DATA_PATH="./data/data"
EXTERNAL_MOUNT_PATH="./data/mnt"
INTERNAL_MOUNT_PATH="/mnt"
INTERNAL_QBITTORRENT_PATH="/qbittorrent"
INTERNAL_TRANSMISSION_PATH="/transmission"
IYUU_PATH="./data/iyuu"
PANEL_APP_PORT_HTTP=40279
QBITTORRENT_PATH="./data/qbittorrent"
TRANSMISSION_PATH="./data/transmission"
