BARK_SERVER_ADDRESS="0.0.0.0"
BARK_SERVER_BASIC_AUTH_PASSWORD=""
BARK_SERVER_BASIC_AUTH_USER=""
BARK_SERVER_CASE_SENSITIVE="false"
BARK_SERVER_CERT=""
BARK_SERVER_CONCURRENCY=262144
BARK_SERVER_DATA_DIR="/data"
BARK_SERVER_DSN=""
BARK_SERVER_IDLE_TIMEOUT="10s"
BARK_SERVER_KEY=""
BARK_SERVER_PROXY_HEADER=""
BARK_SERVER_READ_TIMEOUT="3s"
BARK_SERVER_REDUCE_MEMORY_USAGE="false"
BARK_SERVER_SERVERLESS="false"
BARK_SERVER_STRICT_ROUTING="false"
BARK_SERVER_URL_PREFIX="/"
BARK_SERVER_WRITE_TIMEOUT="3s"
CONTAINER_NAME="bark"
DATA_PATH="./data"
PANEL_APP_PORT_HTTP=40280
