CONTAINER_NAME="mediawiki"
INTERNAL_DATA_PATH="/var/www/data"
LOCAL_SETTINGS_PATH="./data/LocalSettings.php"
MEDIAWIKI_DATA_PATH="./data/data"
MEDIAWIKI_IMAGES_PATH="./data/images"
PANEL_APP_PORT_HTTP=40315
