CONFIG_PATH="./data/config"
CONTAINER_NAME="mdc-ng"
MEDIA_PATH="./data/media"
MEDIA_PATH_2="./data/media2"
MEDIA_PATH_INTERNAL="/media"
MEDIA_PATH_INTERNAL_2="/media2"
PANEL_APP_PORT_HTTP=40300
PGID=1000
PUID=1000
TIME_ZONE="Asia/Shanghai"
