services:
  mt-photos-ai:
    image: "mtphotos/mt-photos-ai:1.2.0"
    container_name: ${CONTAINER_NAME}
    restart: always
    networks:
      - 1panel-network
    ports:
      - "${PANEL_APP_PORT_HTTP}:8060"
    environment:
      - API_AUTH_KEY=${API_AUTH_KEY}
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    labels:
      createdBy: "Apps"

networks:
  1panel-network:
    external: true
