BROWSER_TIMEOUT=40000
CAPTCHA_SOLVER="none"
CONTAINER_NAME="flaresolverr"
HEADLESS="true"
HOST="0.0.0.0"
LANG="none"
LOG_HTML="false"
LOG_LEVEL="info"
PANEL_APP_PORT_HTTP=40322
PROMETHEUS_ENABLED="false"
TEST_URL="https://www.google.com"
TIME_ZONE="Asia/Shanghai"
