CONTAINER_NAME="wireguard-easy"
DATA_PATH="./data"
HOST_ADDRESS="172.17.0.1"
PANEL_APP_PORT_HTTP=40074
WG_ALLOWED_IPS="10.0.8.0/24"
WG_DEFAULT_ADDRESS="10.0.8.x"
WG_DEFAULT_DNS="119.29.29.29,1.1.1.1"
WG_MTU=1420
WG_PERSISTENT_KEEPALIVE=25
WIREGUARD_PORT=51820
PASSWORD_HASH="$$2a$$12$$0AL3hGeedv8fOfsNtfZY5OO3mMvBqlnZA8QmeBGfWPAQEoZ7LZ/7a"
