CONTAINER_NAME="neko"
DOWNLOAD_PATH="./data/Downloads"
IMAGE_NAME="m1k1o/neko:firefox"
MEM_USE="2048m"
NEKO_AUDIO_BITRATE=196
NEKO_AUDIO_CODEC="opus"
NEKO_BIND=8080
NEKO_BROADCAST_AUTOSTART="false"
NEKO_BROADCAST_PIPELINE=""
NEKO_BROADCAST_URL=""
NEKO_CERT=""
NEKO_CONTROL_PROTECTION="false"
NEKO_CORS=""
NEKO_DEVICE=""
NEKO_DISPLAY=""
NEKO_EPR="52000-52100"
NEKO_FILE_TRANSFER_ENABLED="true"
NEKO_FILE_TRANSFER_PATH="/home/neko/Downloads"
NEKO_HWENC="none"
NEKO_ICELITE=1
NEKO_ICESERVER=""
NEKO_ICESERVERS=""
NEKO_IMPLICIT_CONTROL="false"
NEKO_IPFETCH=""
NEKO_KEY=""
NEKO_LOCKS=""
NEKO_MAX_FPS=0
NEKO_NAT1TO1=""
NEKO_PASSWORD="neko"
NEKO_PASSWORD_ADMIN="admin"
NEKO_PATH_PREFIX=""
NEKO_PROXY="false"
NEKO_SCREEN="1920x1080@30"
NEKO_STATIC=""
NEKO_VIDEO_BITRATE=3500
NEKO_VIDEO_CODEC="vp8"
PANEL_APP_PORT_HTTP=40277
