COMMAND="-c /root/config.toml"
CONFIG_FILE_PATH="./data/config.toml"
CONFIG_FILE_PATH_INTERNAL="/root/config.toml"
CONTAINER_NAME="easytier"
DATA_PATH="./data/data"
HOSTNAME="easytier"
PRIVILEGED_MODE="true"
TIME_ZONE="Asia/Shanghai"
