AUTH_CODE="password"
CONTAINER_NAME="wewe-rss"
CRON_EXPRESSION="35 5,17 * * *"
DATABASE_TYPE="sqlite"
DATA_PATH="./data"
FEED_MODE="fulltext"
MAX_REQUEST_PER_MINUTE=60
PANEL_APP_PORT_HTTP=40332
SERVER_ORIGIN_URL="http://1.2.3.4:40332"
