CONTAINER_NAME="cashbook"
DATA_PATH="./data"
DEFAULT_PASSWORD="cashbook"
ENVIRONMENT="PRO"
PANEL_APP_PORT_HTTP=40291
SERVER_KEY="08cc0348-061d-4193-af05-b6cc02df28ea"
TOKEN_SALT="spend-money-like-water"
