CONTAINER_NAME="perfree-blog"
DATA_PATH="./data"
PANEL_APP_PORT_HTTP=40337
PANEL_DB_HOST="mysql"
PANEL_DB_HOST_NAME="mysql"
PANEL_DB_NAME="perfree"
PANEL_DB_PORT=3306
PANEL_DB_TYPE="mysql"
PANEL_DB_USER="perfree"
PANEL_DB_USER_PASSWORD="perfree"
