CONFIG_PATH="./data/config"
CONTAINER_NAME="stash"
PANEL_APP_PORT_HTTP=40299
STASH_BLOBS="./data/blobs"
STASH_BLOBS_INTERNAL="/blobs"
STASH_CACHE="./data/cache"
STASH_CACHE_INTERNAL="/cache"
STASH_DATA="./data/data"
STASH_DATA_INTERNAL="/data"
STASH_GENERATED="./data/generated"
STASH_GENERATED_INTERNAL="/generated"
STASH_METADATA="./data/metadata"
STASH_METADATA_INTERNAL="/metadata"
