CONTAINER_NAME="wukongim"
EXTERNAL_IP="1.2.3.4"
PANEL_APP_PORT_COMM=11110
PANEL_APP_PORT_HTTP=5300
PANEL_APP_PORT_STATS=9090
PANEL_APP_PORT_WK_API=5001
PANEL_APP_PORT_WK_DEMO_SERVER=5172
PANEL_APP_PORT_WK_TCP=5100
PANEL_APP_PORT_WK_WS=5200
