name: Renovate

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - localApps
  workflow_dispatch:
    inputs:
      manual-trigger:
        description: 'Manually trigger Renovate'
        default: ''

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Run Renovate
        uses: renovatebot/github-action@v39.1.1
        with:
          useSlim: false
          token: ${{ secrets.GITHUBTOKEN }}
